// -----------------------------------------------------------------------------
// This file contains all styles related to the badge component.
// -----------------------------------------------------------------------------

.badge {
  &-secondary {
    font-weight: lighter;
    padding: 7px;
    color: var(--text-primary);
    background-color: var(--background-secondary);
    cursor: pointer;
  }
}
