// -----------------------------------------------------------------------------
// This file contains all styles related to the popover component.
// -----------------------------------------------------------------------------

.tippy-box {
  background-color: var(--background-secondary);
  color: var(--text-primary);

  .tippy-content {
    padding: 10px 15px;
  }

  .tippy-arrow {
    color: var(--text-primary);
  }
}
