// -----------------------------------------------------------------------------
// This file contains all styles related to the port status component.
// -----------------------------------------------------------------------------

.support-map {
  margin-bottom: 25px;
  font-family: "ubuntu-mono", monospace;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.6;

  .small {
    font-family: "ubuntu", sans-serif;
  }

  & > div:not(:last-child) {
    padding-right: 25px;
  }

  img {
    display: inline;
    width: 1em;
    margin-right: 0.5em;
  }

  .star-scale {
    font-size: 1.5em;
    color: var(--background-transparent);
  }

  .star-scale.text-highlight {
    color: var(--text-highlight);
  }
}
