---
import Layout from "../layouts/Layout.astro";

const pageMeta = {
  title: "Page not found • Ubuntu Touch • Linux Phone"
};
---

<Layout pageMeta={pageMeta}>
  <div class="page-not-found">
    <h1>
      <span class="bold">We're sorry,</span> but this page got lost during our last
      update...
    </h1>
  </div>
</Layout>
