---
const { name, title, starLabels, selectedDefault } = Astro.props;

const selectedNum = parseInt(selectedDefault);
---

<div star-select>
  <h6 class="small my-2">{title}</h6>

  {
    starLabels.map((label, index) => (
      <label>
        <input
          name={name}
          type="radio"
          value={index}
          data-label={label}
          {...(index == selectedNum ? { checked: true } : {})}
        />
        <span
          class={
            (index <= selectedNum ? "text-highlight " : "") + "star-scale m-1"
          }
        >
          ★
        </span>
      </label>
    ))
  }
  <span class="star-label" class="pl-3">{starLabels[selectedNum]}</span>
</div>
